{% extends "distance_learning/base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block extra-js %}
{% spaceless %}
    {% include "distance_learning/video-template.html" %}
<script type="text/javascript" src="{% static 'dl/js/jquery.history.js' %}"></script>
<script type="text/javascript" src="{% static "dl/js/spin.min.js" %}"></script>
<script type="text/javascript" src="{% static 'dl/js/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'dl/js/jquery.mousewheel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dl/js/browse.js' %}"></script>
{% endspaceless %}
{% endblock %}

{% block main_content %}
{% spaceless %}
    <div class="sec-nav">
        <div class="sec-nav-items browse-items">
            <div id="most-viewed" class="sec-nav-item {{ most_viewed|yesno:"selected,no" }}"><a href="{% url 'dl-video-most-viewed' %}">MOST VIEWED</a></div>
            <div id="recent" class="sec-nav-item {{ recent|yesno:"selected,no" }}"><a href="{% url 'dl-video-recent' %}">RECENT</a></div>
            <div id="by-lc" class="sec-nav-item {{ lc|yesno:"selected,no" }}"><a href="{% url 'dl-video-category-search' category_name='lc' %}">BY LC</a></div>
            <div id="by-subject" class="sec-nav-item {{ subject|yesno:"selected,no" }}"><a href="{% url 'dl-video-category-search' category_name='subject' %}">BY SUBJECT</a></div>
        </div>
        <div class="clear"></div>
        <div class="sec-nav-line"></div>

    </div>
    <div class="clear"></div>
    <div id="nav-dropdown">
        <div class="bttL"></div>
        <div id="scroller">
        <div id="scroller-wrap">
            <div id="scroller-inner">
            {% for category in categories %}
            <div class="scroller-option {{ category.active|yesno:"selected,no"}}" id="scroller-option-{{ forloop.counter0 }}">
                    <a href="{{ category.url }}">{{ category.name }}</a>
                </div>
            {% endfor %}
            </div>
        </div>
        </div>
        <div class="bttR"></div>
    </div>
    <div class="clear"></div>

<div id="main-content">
    {% if messages %}
    <div id="messages">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </div>
    {% endif %}

    <div class="pagination">
{% if videos %}
{% for i in pages %}
{% if i|add:1 == videos.number %}
        <a href="{{ request.path }}?page={{ forloop.counter }}"><div class="selected radiobutton"></div></a>
    {% else %}
        <a href="{{ request.path }}?page={{ forloop.counter }}"><div class="radiobutton"></div></a>
    {% endif %}
{% endfor %}
{% endif %}
    </div>
    <div class="clear"></div>

    <div class="column">
{% if videos %}
    <div class="videos-column">
    {% for video in videos.object_list|slice:":3" %}
        {% include "distance_learning/video-thumbnail.html" %}
    {% endfor %}
    </div>
{% else %}
        <div class="videos-column">&nbsp;</div>
{% endif %}
    </div>
    <div class="column">
{% if videos %}
    <div class="videos-column">
    {% for video in videos.object_list|slice:"3:" %}
        {% include 'distance_learning/video-thumbnail.html' %}
    {% endfor %}
    </div>
{% else %}
        <div class="videos-column">&nbsp;</div>
{% endif %}
    </div>
    
    <div class="clear"></div>

</div>
{% endspaceless %}
{% endblock %}

