{% extends 'distance_learning/about.html' %}
{% block about-selected %}{% endblock %}
{% block eestec-selected %}selected{% endblock %}

{% block about-text %}
    <p><strong>Electrical Engineering Students' European Association</strong> is an apolitical, non-governmental and non-profit organization which targets and trains through it's activities students from electrical profile Universities, Institutes and Technical Schools in Europe. The association was founded in The Netherlands, in 1986. Nowadays, EESTEC is present in 28 countries and 53 universities across Europe with over 6000 members of whom 3000 are currently active, and indirectly, EESTEC is addressing all students in the faculties that EESTEC exists.</p>
    <p>EESTEC's main goal is to promote, establish and develop international contacts and an exchange of ideas between students in electrical profile faculties. The activity of this organization relies on the skills, enthusiasm, openness and will of involvement of its members, also pursuing their professional development, the improvement of their technical knowledge and reaching their full potential. Moreover, students from all Europe meet and respect their differences and their cultures, and this empowered variety results in a friendly international environmet and creates awareness for a common European identity.</p>
    <p>Our <strong>vision</strong> lies in uniting electrical engineering and computer science students all over Europe in order to reach their full potential in academic and social life.</p>
    <p><strong>Mission</strong> of EESTEC:</p>

    <ul>
        <li>We are a network of Local Committees spread in the universities all over Europe</li>

        <li>We are the connecting link between universities and industry</li>

        <li>We organize academic and leisure events</li>

        <li>We dedicate our time, energy and experience to do volunteer activities</li>

        <li>We support and promote technical performance</li>

        <li>We promote diversity among European cultures</li>

        <li>We encourage personal development strategies and aim at reaching high technical and soft skills</li>

        <li>We build alliances with organizations and institutions with similar missions and vision</li>

        <li>We make future leaders</li>

        <li>We promote team spirit and team work</li>
    </ul>

    <p>We provide education complementary to that offered in universities to students willing to broaden their horizons and put in practice their skills. EESTEC wishes to facilitate the communication between the academic and the economic environment. We offer the students a handful of opportunities to build their desired career. We promote students that have technical knowledge as well as knowledge that will make them suited for today's demands. In this way we also address companies easing their contact with young men and women with various skills, ready to integrate in the environment they will be active in as future specialists.</p>

    <p>By combining the EESTEC Spirit with the general profile of an EESTECer, we can present our values like this:</p>

    <ul>
        <li>We are a <strong>non-political, non-profitable, voluntary based, non-govermental European</strong> organisation by/for Electrical Engineering and Computer Science students.</li>
        <li>Our main focus is students. That's why, our main mission is to develop the quality of our members and help them through their career path both in academical and industrial aspects. We try to achieve this by helping them further their education throughout the university with our technical events and by helping them get in touch with industry with our industry based events</li>
        <li>We emphasize cultural diversity and encourage our members to get to know and respect other cultures existing in Europe.</li>
        <li>An EESTECer who has the EESTEC spirit is:
            <ul>
            <li>Innovative and energetic</li>
            <li>Enthusiastic, dynamic and positive and always looking for new challenges</li>
            <li>Ambitious and always looking for new ways to improve him/herself</li>
            <li>Self-motivated</li>
            <li>Friendly, helpful and ready to work as a part of a team</li>
            <li>Passionate about his/her work and enjoys what s/he is doing</li>
            <li>Works hard and parties harder</li>
        </ul>
        </li>
    </ul>
    <p>Consequently:</p>
    <ul>
        <li>We are students,</li>
        <li>We are young,</li>
        <li>We are passionate,</li>
        <li>And we are ready to develop ourselves in our field as well as serving the multi-cultural structure and common identity of Europe...We are EESTEC !</li>
    </ul>
    <p>For more information about EESTEC you can visit our website at <a href="http://eestec.net" target="_blank">eestec.net</a>.</p>
{% endblock %}
