{% extends 'distance_learning/about.html' %}
{% block about-selected %}{% endblock %}
{% block faq-selected %}selected{% endblock %}

{% block about-text %}
    <ol id="faq">
        <li>What is Distance Learning?</li>

        <div class="answer">
            <p>Distance Learning is an online learning platform aiming to spread the knowledge that exists within EESTEC and its academic or industrial partners.</p>
        </div>

        <li>What kind of videos can be found in DL?</li>

        <div class="answer">
            <p>DL is offering recorded material from all the academic activities within EESTEC(e.g. lectures from international workshops,  soft skills trainings etc) and online courses from distinguished professors and experts of the labor market. Live streaming service is often provided as well.</p>
        </div>

        <li>Who is developing Distance Learning?</li>

        <div class="answer">
            <p>Distance Learning is a project entirely developed by EESTEC. Both the technical features and the user interface of the DL online platform are designed and implemented by students from local committees of the EESTEC network.</p>
        </div>
 
        <li>Who can create an account?</li>

        <div class="answer">
            <p>There are four main categories of DL users: Individuals, Universities, Companies and EESTEC Local Committees.</p>
            <p>Every single person, without any restriction regarding the age, the field of studies or anything else is eligible for creating an account as individual.</p>
            <p>Universities and companies are able to create an account after declaring their interest by email at dl.uni@eestec.net and dl.company@eestec.net respectively.</p>
            <p>A specific person, chosen by the board of each EESTEC Local Committee(LC), have the right to create an LC account after arrangement with the DL administration and EESTEC International.</p>
        </div>

            <li>Who can upload videos?</li>

            <div class="answer">
                <p>Local committees, companies and universities have the right to upload videos.</p>
            </div>
            <li>Is there any charge for using Distance Learning?</li>

            <div class="answer">
                <p>All the services of DL are coming at no charge for Individual users. Special terms of service hold for universities and companies.</p>
            </div>

            <li>Why to sign up as an individual?</li>

            <div class="answer">
                <p>Creating an account as individual unlocks great features for a user in comparison to a simple visitor. More specifically, you have the opportunity to create your “watch list”, to mark your favorite videos, to leave your comments under the videos and to get subscribed to online courses.</p>
                <p>Additionally, you make it easier for us to identify the needs of our users and provide you a constantly improved online experience through the Distance Learning platform.</p>
            </div>

            <li>Why to sign up as a University?</li>
            <div class="answer">
                <p>DL is aiming to collaborate with universities in order to provide high level educational courses to its users. Universities have the ability to provide lectures in topics of high academic interest that are not included in the course program of most universities.</p>
                <p>So, universities have the opportunity to promote their quality lectures to an online audience of possible future master or PhD students. This online audience can be guaranteed to include electrical engineering and computer science students from the best universities in almost every country in Europe; a spectrum that the network of EESTEC Local Committees is covering. Moreover, universities have the opportunity examine the possibility of collaboration with the other partners of DL.</p>
            </div>

            <li>Why to sign up as a Company?</li>

            <div class="answer">
                <p>DL is primary aiming to collaborate with companies in order to bridge the gap between universities and the labor market. Since DL is mainly based on the network of EESTEC Local Committees that spans at electrical engineering and computer science institutions among almost all European countries, companies have the opportunity to share their expertize, through the presentation of their technological achievements to a highly educated audience. EECS students are able to understand the way that companies’ products are created and used by following sessions from companies’ experts.</p>

                <p>Furthermore, it is not only about EECS students, since the users of DL could have any profession and originate from every place around the globe. So, companies have the ability to prove and explain the quality and the usage of their products to an audience of possible users and future employees.</p>
                <p>Last but not least, companies have the opportunity to examine the possibility of collaboration with the other partners of DL.</p>
            </div>

            <li> Will certificates be awarded?</li>

            <div class="answer">
                <p>Certificates may be awarded only for the followers of online courses or sessions from companies’ experts, after arrangement with the responsible of each session and the DL administration.</p>
            </div>

            <li> How is DL different from what other online education web portals are doing?</li>

            <div class="answer">
                <p>Distance Learning cannot be compared to other online education platforms that offer university level courses, because this is not the primary objective of DL. Distance Learning’s main goal is to enrich education with additional dimensions, covering advanced technological subjects of high interest and bridging the gap between universities and the labor market.</p>
            </div>
    </ol>
{% endblock %}
