{% extends "distance_learning/base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block extra-js %}
        <script type="text/javascript" src="{% static "dl/js/spin.min.js" %}"></script>
    {% include "distance_learning/video-template.html" %}
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
{% endblock %}

{% block banner %}
{% spaceless %}
        <div id="banner-large">
            <div id="dl-logo-large" class="center"><img src="{% static "dl/images/full-logo-banner.png" %}" alt="Distance Learning Logo" class="center"></div>
            <div id="search-form-wrapper">
                <form id="search-form" action="{% url 'dl-video-search' %}" method="get">
                    <input type="text" id="search-input" name="q" placeholder="Search for your video here...">
                    <input type="submit" id="search-submit" value="">
                </form>
            </div>
        </div>
{% endspaceless %}
{% endblock %}

{% block main_content %}
{% spaceless %}
<div class="column">
    <div class="part">
        <div class="right title selected show-most-viewed">most viewed</div>
        <div class="clear"></div>
        <div style="margin-right: -7px" class="right"><div class="radiobutton selected show-most-viewed"></div></div>
    </div>
    <div class="filler">&nbsp;</div>
    <div class="part">
        <div class="left title show-recent">recent</div>
        <div class="clear"></div>
        <div class="left radiobutton show-recent"></div>
    </div>
    <div class="clear"></div>
    <div class="videos-column">
{% for video in videos %}
    {% include "distance_learning/video-thumbnail.html" %}
{% endfor %}
    </div>
</div>
<div class="column">
    <div class="title selected" style="width: 100%">upcoming</div>
    <div class="left radiobutton" style="visibility: hidden"></div><div class="clear"></div>
    <div class="videos-column">
{% for video in upcoming_videos %}
    {% include "distance_learning/video-thumbnail.html" %}
{% endfor %}
    </div>
</div>

<div class="clear"></div>
{% endspaceless %}
{% endblock %}

