{% extends "distance_learning/base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block extra-js %}
{% spaceless %}
    {% include "distance_learning/video-template.html" %}
    <script type="text/javascript" src="{% static 'dl/js/jquery.history.js' %}"></script>
    <script type="text/javascript" src="{% static "dl/js/spin.min.js" %}"></script>
    <script type="text/javascript" src="{% static 'dl/js/profile.js' %}"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
{% endspaceless %}
{% endblock %}

{% block main_content %}
{% spaceless %}
    <div class="sec-nav">
        <div class="sec-nav-items">
            <div id="favorites" class="sec-nav-item {% if result_type == 'favorites' %}selected{% endif%}"><a href="{% url 'profile-get-favorites' 1 %}">FAVORITE VIDEOS</a></div>
            <div id="watch-later" class="sec-nav-item {% if result_type == 'watch-later' %}selected{% endif%}"><a href="{% url 'profile-get-watch-later' 1 %}">WATCH LATER</a></div>
    {% if user.userprofile.member.can_upload_video or user.is_superuser %}
        <div id="uploaded" class="sec-nav-item {% if result_type == 'uploaded' %}selected{% endif%}"><a href="{% url 'profile-get-uploaded' 1 %}">UPLOADED</a></div>
    {% endif %}
        <div id="settings" class="sec-nav-item {% if result_type == 'settings' %}selected{% endif%}"><a href="{% url 'profile-settings' %}">SETTINGS</a></div>
        </div>
        <div class="clear"></div>
        <div class="sec-nav-line"></div>
    </div>

    <div class="pagination">
{% if videos %}
{% for i in pages %}
{% if i|add:1 == videos.number %}
    <a href="{% url "profile-get-"|add:result_type i|add:1 %}"><div class="selected radiobutton"></div></a>
    {% else %}
        <a href={{ i|add:1 }}"><div class="radiobutton"></div></a>
    {% endif %}
{% endfor %}
{% endif %}
    </div>
    <div class="clear"></div>

<div id="main-content">
    <div class="column">
{% if videos %}
    <div class="videos-column">
    {% for video in videos.object_list|slice:":3" %}
        <div class="video">
            <div class="video-title"><a href="{{ video.get_absolute_url }}">{{ video.name }}</a></div>
            <div class="video-description">Submitted by <span class="submitter">{{ video.user }} </span> (viewed: {{ video.views }} times)</div>
            {{ video.embed_html }}
        </div>
    {% endfor %}
    </div>
{% else %}
        <div class="videos-column">&nbsp;</div>
{% endif %}
    </div>
    <div class="column">
{% if videos %}
    <div class="videos-column">
    {% for video in videos.object_list|slice:"3:" %}
        <div class="video">
            <div class="video-title"><a href="{{ video.get_absolute_url }}">{{ video.name }}</a></div>
            <div class="video-description">Submitted by <span class="submitter">{{ video.user }} </span> (viewed: {{ video.views }} times)</div>
            {{ video.embed_html }}
        </div>
    {% endfor %}
    </div>
{% else %}
        <div class="videos-column">&nbsp;</div>
{% endif %}
    </div>
</div>
    <div class="clear"></div>
{% endspaceless %}
{% endblock %}

