{% extends 'distance_learning/about.html' %}
{% block about-selected %}{% endblock %}
{% block report-selected %}selected{% endblock %}

{% block about-text %}
We are always seeking feedback to improve our services. If you are facing any general technical issues with our platform or you have experienced a bug, please fill the following form.<br>
<form id="form-bugreport-upload" action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="field">
        <div class="label">{{ field.label_tag }}</div>
        <div class="input">{{ field }}</div>
        <div class="clear"></div>
        <span class="helptext">{{ field.help_text }}</span>
    {% if field.errors %}
        <div class="errors">{{ field.errors }}</div>
    {% endif %}
    </div>
    {% endfor %}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
