{% extends "distance_learning/base.html" %}
{% load url from future %}
{% load hitcount_tags %}

{% block extra-js %}
<script src="/media/js/jquery-latest.js" type="text/javascript"></script>
<script type="text/javascript"><!--
    $(document).ready(function() {
        {% get_hit_count_javascript for video %}
    });
--></script>
{% endblock %}

{% block main_content %}
{% spaceless %}
    <h1>{{ video.name }}</h1>
    <!-- embed YouTube video, just link for now -->
    {{ video.embed_html }}
    <p><a href="{{ video.video_url }}">Vid</a></p>
    <p>{{ video.user.name }}</p>
    <p>{{ video.date_uploaded }}</p>
    <p>{{ video.description }}</p>
    <p>{{ video.city }}</p>
    <p>{{ video.country }}</p>
    <p>{{ video.event }}</p>
    <p>{{ video.lecturer }}</p>
    {% if video.handout %}
    <p><a href="{{ video.handout.url }}">Handout</a></p>
    {% endif %}
    {% if video.presentation %}
    <p><a href="{{ video.presentation.url }}">Presentation</a></p>
    {% endif %}
    <p>{{ video.video_type.type_name }}</p>
    <p>
    {% for keyword in video.keywords %}
        {{ keyword }}
    {% endfor %}
    </p>
    <p>
    {% for subject in video.subject.all %}
            {{ subject }}
    {% endfor %}
    </p>
    <p></p>
    <p>Views: {% get_hit_count for video %}</p>

    {% comment %}
    TODO: Async, paginated comment fetching
    {% endcomment %}
    <h2>Comments</h2>
    {% if comment_form %}
    <div id="video-id" style="display: none">{{ video.id }}</div>
    <a href="{% url 'profile-add-favorite' %}" id="add-favorite">Add favorite</a>
    <a href="{% url 'profile-add-watch-later' %}" id="add-watch-later">Watch later</a>
    <form method="POST" action="{% url 'dl-post-comment' video.id %}">{% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="Submit">
    </form>
    {% else %}
    <div>Log in to comment.</div>
    {% endif %}
    {% for comment in video.comment_set.all %}
    <p>
        {{ comment.user }}
        {{ comment.text }}
    </p>
    {% endfor %}
{% endspaceless %}
{% endblock %}
