{% extends "distance_learning/base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block extra-js %}
{% spaceless %}
<script type="text/html" id="video-template">
<% _.each(videos, function(video) { %>
    <div class="video">
        <div class="video-title"><a href="<%= video.video_url %>"><%= video.name %></a></div>
        <div class="video-description">Submitted by <span class="submitter"><%= video.user %> </span> (viewed: <%= video.views %> times)</div>
        <iframe width="420" height="315" src="<%= video.embed_url %>?wmode=transparent" frameborder="0" allowfullscreen></iframe>
    </div>
<% }); %>
</script>
<script type="text/javascript" src="{% static 'dl/js/jquery.history.js' %}"></script>
<script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
{% endspaceless %}
{% endblock %}

{% block main_content %}
{% spaceless %}
    <div class="pagination">
{% if videos %}
{% for page_link in page_links %}
    {% if forloop.counter == videos.number %}
        <a href="{% url 'dl-video-search' %}?{{ page_link }}"><div class="selected radiobutton"></div></a>
    {% else %}
        <a href="{% url 'dl-video-search' %}?{{ page_link }}"><div class="radiobutton"></div></a>
    {% endif %}
{% endfor %}
{% endif %}
    </div>
    <div class="clear"></div>

<div id="main-content">
    <div class="column">
{% if videos %}
    <div class="videos-column">
    {% for video in videos.object_list|slice:":3" %}
        {% include 'distance_learning/video-thumbnail.html' %}
    {% endfor %}
    </div>
{% else %}
        <div class="videos-column">&nbsp;</div>
{% endif %}
    </div>
    <div class="column">
{% if videos %}
    <div class="videos-column">
    {% for video in videos.object_list|slice:"3:" %}
        {% include 'distance_learning/video-thumbnail.html' %}
    {% endfor %}
    </div>
{% else %}
        <div class="videos-column">&nbsp;</div>
{% endif %}
    </div>
</div>
    <div class="clear"></div>
{% endspaceless %}
{% endblock %}

