{% extends 'distance_learning/base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block extra-js %}
<script>$(function(){$('form #id_username').focus();});</script>
{% endblock %}

{% block main_content %}
<div class="wrapper">
    <div class="form">
    <form action='.' method='post'>{% csrf_token %}
        <div class="field">
            <div class="label">{{ form.username.label_tag }}</div>
            <div class="input">{{ form.username }}</div>
        {% if form.username.errors %}
            <div class="errors">{{ form.username.errors }}</div>
        {% endif %}
        </div>
        <div class="field">
            <div class="label">{{ form.password.label_tag }}</div>
            <div class="input">{{ form.password }}</div>
        {% if form.password.errors %}
            <div class="errors">{{ form.password.errors }}</div>
        {% endif %}
        </div>
        <input type="submit" value="Login" />
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    </form>
    </div>
    <div class="clear"></div>

    <div id="social">
        <a class="zocial googleplus" href="{% url 'socialauth_begin' 'google-oauth2' %}?next={{ request.path }}">Sign in with Google</a>
        &nbsp;&nbsp;
        <a class="zocial facebook" href="{% url 'socialauth_begin' 'facebook' %}?next={{ request.path }}">Sign in with Facebook</a>
    </div>
</div>
{% endblock %}
